[submodule ".repos/hermes-agent"]
	path = .repos/hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
[submodule ".repos/huashu-design"]
	path = .repos/huashu-design
	url = https://github.com/alchaincyf/huashu-design.git
[submodule ".repos/skills"]
	path = .repos/skills
	url = https://github.com/mattpocock/skills.git